<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação Iris</title>
</head>
<body>
    <h1>Classificação da Iris</h1>
    <!-- 5.4000, 3.7000, 1.5000, 0.2000
    Setosa -->

    <!-- 7.2000, 3.2000, 6.0000, 1.8000
    Versicolor -->

    <!-- 6.2000, 2.8000, 4.8000, 1.8000 -->
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <p>Sepal lenght<input type="text" name="sepal_l" value="6.2"></p>
        <p>Sepal width <input type="text" name="sepal_w" value="2.8"></p>
        <p>Petal lenght<input type="text" name="petal_l" value="4.8"></p>
        <p>Petal width <input type="text" name="petal_w" value="1.8"></p>
        <p><input type="submit" value="Enviar"></p>
    </form>
</body>
</html>